@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #383232;
    --branco: #FFFFFF;
    --laranja: #4BE1FA;
    --azul-degrade: linear-gradient(to bottom right, #0C6574, #608B92);
    --fonte-principal: "VT323";
    --azul: #002F52;
    --fonte-secundario: "Press Start 2P";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-image:
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}
